body {
    background-image: url(../images/night.jpg);
}

main {
    opacity: 85%;
}

div.card {
    background-color: #5e5d5d;
    border-radius: 1rem;
}

a {
    color: #2a317c;
}

img {
    border-radius: 1rem 0 0 1rem;
}

.nav-link {
    transition: background-color 0.3s linear, color 0.3s linear, border-radius 0.3s linear;
}

.disabled {
    background-color: #414543;
    color: #657E66 !important;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgb(85, 83, 83);
    color: rgb(140, 148, 138) !important;
    border-radius: 5px;
}